.ten-percent article .decor{
    background-size: 242px 170px, cover;
    background-image: url('./assets/img/5.png'), linear-gradient(180deg, #0EC8A1 0%, #008669 100%);
}

.fifteen-percent article .decor {
    background-size: 312px 160px, cover;
    background-image: url('./assets/img/15.png'), linear-gradient(180deg, #0EC8A1 0%, #008669 100%);
}

.twenty-percent article .decor {
    background-size: 312px 160px, cover;
    background-image: url('./assets/img/20.png'), linear-gradient(180deg, #1249B5 0%, #1864F9 100%);
}

.five-halyk-percent article .decor {
    background-size: cover;
    background-image: url('./assets/img/5halyk.png');
}

#fourteen-feb-popup article .decor {
    background-size: cover;
    background-image: url('./assets/img/14feb.jpg');
    border: 1px solid #fff;
}
