.ten-percent article .decor{
    background-size: 312px 160px, cover;
    background-image: url('/assets/img/10.png'), linear-gradient(180deg, #0EC8A1 0%, #008669 100%);
}

.fifteen-percent article .decor {
    background-size: 312px 160px, cover;
    background-image: url('/assets/img/15.png'), linear-gradient(180deg, #0EC8A1 0%, #008669 100%);
}

.twenty-percent article .decor {
    background-size: 312px 160px, cover;
    background-image: url('/assets/img/20.png'), linear-gradient(180deg, #1249B5 0%, #1864F9 100%);
}
